<h1 class="text-center page-header"><%= @article.title %></h1>
<hr>
<div class="row">
  <div class="col-md-8">
    <%= simple_format(@article.description) %>
  </div>
  <div class="col-md-4 bg-light rounded">
    <h2>Author</h2>
    <img src="http://i0.kym-cdn.com/photos/images/original/001/301/496/d2d.jpg" class="rounded-circle" height="75" width="75">
    <ul style="padding-top: 5px">
      <li>Name: Skeletor</li>
      <li>Age: n/a</li>
      <li>Occupation: Would-be conqueror Senior</li>
    </ul>
  </div>
</div>
<hr>
<div class="article-actions btn-group row col-md-8">
  <%= link_to(
    'Back',
    articles_path,
    class: 'btn btn-sm btn-secondary',
    title: 'Back'
  ) %>
  <%= link_to(
    'Edit',
    edit_article_path(@article),
    class: 'btn btn-sm btn-secondary',
    title: 'Edit'
  ) %>
  <%= link_to(
    'Delete',
    article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure you want to delete the article?' },
    class: 'btn btn-sm btn-danger',
    title: 'Delete'
  ) %>
</div>
